$bn-color-orange:           rgb(227,103,61);
$bn-color-orange-2:         rgb(240,90,34);
$bn-color-gray-dark:        rgb(62,70,79);
$bn-color-gray-dark-2:      rgb(88,88,91);
$bn-color-gray-dark-3:      rgb(32,36,41);
$bn-color-gray-medium:      rgb(165,173,184);
$bn-color-gray-very-light:  rgb(225,228,231);
$bn-color-white-almost:     rgb(250,252,255);
$bn-color-white-almost-2:   rgb(240,242,244);
$bn-color-white:            rgb(255,255,255);
$bn-color-black:            rgb(0,0,0);
$bn-color-purple:           rgb(112,96,128);