$bn-breakpoint-width-max-layout-mobile: 767px;
$bn-breakpoint-width-min-layout-tablet: 768px;
$bn-breakpoint-width-max-layout-tablet: 1023px;
$bn-breakpoint-width-min-layout-desktop: 1024px;
$bn-breakpoint-width-max-layout-desktop: 1299px;
$bn-breakpoint-width-min-layout-desktop-wide: 1300px;

$bn-page-content-max-width-layout-desktop: 1000px;
$bn-page-content-max-width-layout-desktop-wide: 1200px;

$bn-layer-secondary-navigation: 50;
$bn-layer-site-header: 100;
$bn-layer-sidebar: 200;

$bn-site-gutter-width-layout-mobile: 2rem;
$bn-site-gutter-width-layout-tablet: 4rem;
$bn-site-gutter-width-layout-desktop: 2rem;

$bn-column-gutter-width-layout-mobile: 0;
$bn-column-gutter-width-layout-tablet: 0;
$bn-column-gutter-width-layout-desktop: 8rem;



// Animations

$bn-transition-duration-default: 0.2s;

$bn-transition-duration-sidebar-hide-show: $bn-transition-duration-default;



// Typography

$bn-font-family-default: 'Lato';
$bn-font-family-highlight: 'Oswald';

$bn-font-size-main-content-layout-mobile: 1.4rem;
$bn-font-size-main-content-layout-tablet: 1.6rem;
$bn-font-size-main-content-layout-desktop: 1.6rem;

$bn-line-height-base: 1;



// Color Assignments

// - Site

$bn-color-element-shadow-light: rgba($bn-color-purple, 0.10);
$bn-color-element-shadow: rgba($bn-color-purple, 0.35);

// - Text

$bn-color-content-default: $bn-color-gray-dark;
$bn-color-link-default: $bn-color-orange;

// - Page

$bn-color-page-highlight: $bn-color-orange;

// - Header

$bn-color-header-background: rgba($bn-color-gray-very-light, 0.95);
$bn-color-header-border-bottom: $bn-color-gray-medium;

$bn-color-header-logo-base-color: $bn-color-gray-dark-2;
$bn-color-header-logo-highlight-color: $bn-color-orange-2;

$bn-color-header-text: $bn-color-content-default;
$bn-color-header-icon: $bn-color-page-highlight;
$bn-color-header-shadow: rgba(152, 152, 165, 1);

$bn-color-header-button-text: $bn-color-gray-very-light;

$bn-color-header-secondary-links-separator: $bn-color-gray-medium;

$bn-color-header-main-navigation-text: $bn-color-gray-dark;
$bn-color-header-main-navigation-active-border-bottom: $bn-color-gray-dark;

// - Footer

$bn-color-footer-background: $bn-color-gray-dark;
$bn-color-footer-border-top: $bn-color-gray-medium;
$bn-color-footer-theme-dark-background: $bn-color-gray-dark-3;
$bn-color-footer-theme-dark-border-top: $bn-color-gray-dark;

$bn-color-footer-text: $bn-color-gray-very-light;
$bn-color-footer-social-media-link-icon: $bn-color-gray-very-light;

// - Main Content

$bn-color-main-content-background: $bn-color-white-almost;

$bn-color-main-secondary-navigation-background: rgba($bn-color-black, 0.35);
$bn-color-main-secondary-navigation-text: $bn-color-white-almost-2;
$bn-color-main-secondary-navigation-active-border-bottom: $bn-color-white-almost-2;
$bn-color-main-secondary-navigation-toggle-text: $bn-color-white-almost-2;
$bn-color-main-secondary-navigation-toggle-button: $bn-color-white-almost-2;

// - Sidebar

$bn-color-sidebar-background: rgba($bn-color-gray-dark, 0.95);
$bn-color-sidebar-close-background: $bn-color-gray-very-light;
$bn-color-sidebar-close-icon: $bn-color-sidebar-background;

// - Sidebar -- Navigation

$bn-color-sidebar-navigation-logo: rgba($bn-color-gray-very-light, 0.75);
$bn-color-sidebar-navigation-main-navigation-link-text: $bn-color-gray-very-light;
$bn-color-sidebar-navigation-icon-button-background: $bn-color-gray-very-light;
$bn-color-sidebar-navigation-icon-button-image: $bn-color-gray-dark;
$bn-color-sidebar-navigation-secondary-links-separator: $bn-color-gray-very-light;

// - Button

$bn-color-button-background: $bn-color-gray-very-light;
$bn-color-button-shadow: $bn-color-element-shadow-light;

// - Icon Button

$bn-color-icon-button-background: $bn-color-page-highlight;
$bn-color-icon-button-image: $bn-color-gray-very-light;

// - Page Title Ribbon

$bn-color-page-title-ribbon-page-title: $bn-color-white-almost;
$bn-color-page-title-ribbon-page-subheading: $bn-color-white-almost;
$bn-color-page-title-ribbon-image-caption: $bn-color-white-almost;
$bn-color-page-title-ribbon-separator: $bn-color-white;

// - Content Blocks

$bn-color-content-block-column-primary-separator: $bn-color-gray-very-light;
$bn-color-content-block-call-out-background: $bn-color-white-almost-2;

// - Show Pages

$bn-color-show-page-content: $bn-color-white-almost-2;
$bn-color-show-page-buy-tickets-icon-base-color: $bn-color-gray-dark-2;

// - "Page" Pages

$bn-color-page-page-content-block-separator: $bn-color-gray-very-light;



// Header

$bn-header-height-layout-mobile: 8.4rem;
$bn-header-height-layout-tablet: 10.5rem;
$bn-header-height-layout-desktop: 16.2rem;

$bn-header-gutter-top-layout-mobile: 1.5rem;
$bn-header-gutter-bottom-layout-mobile: 1.5rem;
$bn-header-gutter-left-layout-mobile: $bn-site-gutter-width-layout-mobile;
$bn-header-gutter-right-layout-mobile: $bn-site-gutter-width-layout-mobile;

$bn-header-gutter-top-layout-tablet: 1.5rem;
$bn-header-gutter-bottom-layout-tablet: 1.5rem;
$bn-header-gutter-left-layout-tablet: 2rem;
$bn-header-gutter-right-layout-tablet: 2rem;

$bn-header-gutter-top-layout-desktop: 1.2rem;
$bn-header-gutter-bottom-layout-desktop: 1.2rem;
$bn-header-gutter-left-layout-desktop: $bn-site-gutter-width-layout-desktop;
$bn-header-gutter-right-layout-desktop: $bn-site-gutter-width-layout-desktop;

$bn-header-icon-button-diameter-layout-tablet: 3.6rem;
$bn-header-icon-button-diameter-layout-desktop: 2.8rem;



// Page Title Ribbon

$bn-page-title-ribbon-height-layout-mobile: 15.4rem;
$bn-page-title-ribbon-height-layout-tablet: 16.4rem;
$bn-page-title-ribbon-height-layout-desktop: 28.8rem;



// Secondary Navigation (Site Main)

$bn-site-main-secondary-navigation-height-layout-mobile: 4rem;
$bn-site-main-secondary-navigation-height-layout-tablet: 4.8rem;
$bn-site-main-secondary-navigation-height-layout-desktop: 6.7rem;


// Footer

$bn-footer-height-layout-mobile: 35.5rem;
$bn-footer-height-layout-tablet: 31.3rem;
$bn-footer-height-layout-desktop: 37rem;

$bn-footer-gutter-top-layout-mobile: 2rem;
$bn-footer-gutter-bottom-layout-mobile: 2rem;
$bn-footer-gutter-left-layout-mobile: $bn-site-gutter-width-layout-mobile;
$bn-footer-gutter-right-layout-mobile: $bn-site-gutter-width-layout-mobile;

$bn-footer-gutter-top-layout-tablet: 2rem;
$bn-footer-gutter-bottom-layout-tablet: 2rem;
$bn-footer-gutter-left-layout-tablet: 2rem;
$bn-footer-gutter-right-layout-tablet: 2rem;

$bn-footer-gutter-top-layout-desktop: 2rem;
$bn-footer-gutter-bottom-layout-desktop: 2rem;
$bn-footer-gutter-left-layout-desktop: 2rem;
$bn-footer-gutter-right-layout-desktop: 2rem;
