.season-packages--show-list--images {
  font-size: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;

  li {
    display: inline-block;
    font-size: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 33.3334%;

    a {
      display: block;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
