a {
  color: $bn-color-link-default;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


em {
  font-style: normal;
  font-weight: 600;
}


* {
  &:focus {
    outline: none;
  }
}


button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: $bn-font-family-default;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;

  // Only do a hard reset of the background if it won't be
  // replaced with the page highlight color. This avoids
  // having to force the page highlight color later.
  //
  // Still causing problems. Just set background colors
  // on all buttons for now.
  /*
  &:not(.page--highlight-color--background):not(.page--highlight-color--background--custom) {
    background: none;
  }
  */
}


input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}


iframe {
  border: none;
}
