svg {
  .page--highlight-color {
    fill: $bn-color-page-highlight;
  }
}


.page--highlight-color--background {
  background-color: $bn-color-page-highlight;
}


.page--highlight-color--text--hover {
  &:hover {
    color: $bn-color-page-highlight;
  }
}


.page--highlight-color--text--focus {
  &:focus {
    color: $bn-color-page-highlight;
  }
}
