.page-type--page {
  .column-container {
    &.has-primary-column.has-secondary-column {
      .secondary {
        border-bottom-color: $bn-color-page-page-content-block-separator;
        border-bottom-style: solid;
        border-bottom-width: 0.2rem;

        @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
          border-bottom: none;
        }
      }
    }
  }

  .column {
    &.primary {
      .content-block {
        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &.secondary {
      .content-block {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
