.show--container {
  .show--performance-date-range {
    font-family: $bn-font-family-highlight;
    font-size: 1.6rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      font-size: 2rem;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      font-size: 2.4rem;
    }
    font-weight: 500;
  }

  .show--buy-tickets {
    .label {
      text-shadow: none;
    }
    .icon {
      .icon--base-color {
        fill: $bn-color-show-page-buy-tickets-icon-base-color;
      }
    }
  }

  .show--ticket-price-details {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}


.show--main-content-blocks {
  color: $bn-color-show-page-content;
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.6);

  p {
    margin-bottom: 2rem;
  }
}


.page-type--show {
  .site--main--secondary-navigation-toggle {
    &::before {
      content: 'Other Shows';
    }
  }
}
