.show--container {
  .show--title--text {
    @media (max-width: $bn-breakpoint-width-max-layout-mobile) {
      margin-bottom: 0.4rem;
    }

    h1 {
      font-family: $bn-font-family-highlight;
      font-size: 2.4rem;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        font-size: 3rem;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        font-size: 3.6rem;
      }
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .show--performance-date-range {
    font-family: $bn-font-family-highlight;
    font-size: 1.6rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      font-size: 2rem;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      font-size: 2.4rem;
    }
    font-weight: 500;
  }

  .show--buy-tickets {
    .label {
      text-shadow: none;
    }
  }

  .show--ticket-price-details {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}


.show--main-content-blocks,
.show--cast-creative-media--container {
  color: $bn-color-show-page-content;
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
}


// @CMN Improve this
.show--main-content-blocks {
  p:not(:last-child) {
    margin-bottom: 2rem;
  }
}


.page-type--show {
  .site--main--secondary-navigation-toggle {
    &::before {
      content: 'Other Shows';
    }
  }
}


.show--cast-creative-media--navigation-container {
  background-color: $bn-color-show-page-cast-creative-media-navigation-background;
}


.show--cast-creative-media--navigation {
  > ul {
    > li {
      > a {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 0.3rem;
        color: $bn-color-show-page-cast-creative-media-navigation-text;
        font-family: $bn-font-family-highlight;
        font-size: 1.2rem;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          font-size: 1.6rem;
        }
        @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
          font-size: 2rem;
        }
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 0.2rem;
        padding-top: 0.5rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }

        &:hover,
        &.page--highlight-color--text--hover:hover,
        &.page--highlight-color--text--hover--custom:hover {
          color: $bn-color-main-secondary-navigation-text;
        }

        &:focus,
        &.page--highlight-color--text--focus:focus,
        &.page--highlight-color--text--focus--custom:focus {
          color: $bn-color-main-secondary-navigation-text;
        }

        &.active {
          border-bottom-color: $bn-color-show-page-cast-creative-media-navigation-active-border-bottom;
        }

        > sub {
          font-family: $bn-font-family-default;
          font-size: 1.3rem;
          @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
            font-size: 1.6rem;
          }
          text-transform: none;
        }
      }
    }
  }
}


.show--cast-creative {
  h2 {
    font-size: 1.5rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      font-size: 2rem;
    }
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  ul {
    li {
      &:not(:last-of-type) {
        border-bottom-color: $bn-color-show-page-cast-creative-media-cast-creative-list-separator;
        border-bottom-style: solid;
        border-bottom-width: 0.05rem;
      }
    }
  }

  .role {
    font-weight: 300;
  }

  .entity {
    text-align: right;
  }
}
