.page-type--show {
  #page--main-content {
    background-color: #2D5C80;
    color: $bn-color-show-page-content;
  }
}


#page--show--performance-date-range {
  font-family: $bn-font-family-highlight;
  font-size: 1.6rem;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    font-size: 2rem;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    font-size: 2.4rem;
  }
  font-weight: 500;
}


#page--show--synopsis {
  font-weight: 300;
}