#show--container {
  background-blend-mode: multiply, soft-light, soft-light;
  background-position: center top, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% auto, 100%, 100%;
  color: $bn-color-show-page-content;

  .show--performance-date-range {
    font-family: $bn-font-family-highlight;
    font-size: 1.6rem;
    @media (min-width: $bn-breakpoint-layout-tablet) {
      font-size: 2rem;
    }
    @media (min-width: $bn-breakpoint-layout-desktop) {
      font-size: 2.4rem;
    }
    font-weight: 500;
  }

  .show--synopsis {
    font-weight: 300;
  }

  .show--buy-tickets {
    .icon {
      .icon--base-color {
        fill: $bn-color-show-page-buy-tickets-icon-base-color;
      }
    }
  }
}
