.site--main--secondary-navigation-container {
  background-color: $bn-color-main-secondary-navigation-background;
}


.site--main--secondary-navigation-toggle {
  background: none;
  color: $bn-color-main-secondary-navigation-toggle-text;
  font-size: 1.2rem;
  line-height: 1.3;

  .icon {
    transition: transform $bn-transition-duration-site-main-secondary-navigation-toggle-icon-flip;

    .site--main--secondary-navigation-container.expanded & {
      transform: scaleY(-1);
    }

    g {
      fill: $bn-color-main-secondary-navigation-toggle-button;
    }
  }
}


.navigation--secondary-navigation-main {
  > ul {
    > li {
      > a {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 0.3rem;
        color: $bn-color-main-secondary-navigation-text;
        font-family: $bn-font-family-highlight;
        font-size: 1.2rem;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          font-size: 1.6rem;
        }
        @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
          font-size: 2rem;
        }
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 0.2rem;
        padding-top: 0.5rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }

        &:hover,
        &.page--highlight-color--text--hover:hover,
        &.page--highlight-color--text--hover--custom:hover {
          color: $bn-color-main-secondary-navigation-text;
        }

        &:focus,
        &.page--highlight-color--text--focus:focus,
        &.page--highlight-color--text--focus--custom:focus {
          color: $bn-color-main-secondary-navigation-text;
        }

        &.active {
          border-bottom-color: $bn-color-main-secondary-navigation-active-border-bottom;
        }

        > sub {
          font-family: $bn-font-family-default;
          font-size: 1.3rem;
          @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
            font-size: 1.6rem;
          }
          text-transform: none;
        }
      }
    }
  }

  .theme-collapsible-layout-mobile & {
    > ul {
      > li {
        > a {
          @media (max-width: $bn-breakpoint-width-max-layout-mobile) {
            border-bottom: none;
            font-family: $bn-font-family-default;
            font-weight: 400;
            margin-bottom: 0;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: right;

            &:hover {
              text-decoration: underline;
            }

            > sub {
              display: none;
            }
          }
        }
      }
    }
  }
}
