.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: (0 - ($bn-column-gutter-width-layout-mobile / 2));
  margin-right: (0 - ($bn-column-gutter-width-layout-mobile / 2));
  @media (min-width: $bn-breakpoint-layout-tablet) {
    margin-left: (0 - ($bn-column-gutter-width-layout-tablet / 2));
    margin-right: (0 - ($bn-column-gutter-width-layout-tablet / 2));
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    margin-left: (0 - ($bn-column-gutter-width-layout-desktop / 2));
    margin-right: (0 - ($bn-column-gutter-width-layout-desktop / 2));
  }

  .column {
    padding-left: ($bn-column-gutter-width-layout-mobile / 2);
    padding-right: ($bn-column-gutter-width-layout-mobile / 2);
    @media (min-width: $bn-breakpoint-layout-tablet) {
      padding-left: ($bn-column-gutter-width-layout-tablet / 2);
      padding-right: ($bn-column-gutter-width-layout-tablet / 2);
    }
    @media (min-width: $bn-breakpoint-layout-desktop) {
      padding-left: ($bn-column-gutter-width-layout-desktop / 2);
      padding-right: ($bn-column-gutter-width-layout-desktop / 2);
    }
  }
}
