.page-type--show {
  .site--main--main-content {
    padding: 0;
  }
}


.show--container {
  position: relative;

  min-height: $bn-show-imagery-image-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    min-height: $bn-show-imagery-image-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    min-height: $bn-show-imagery-image-height-layout-desktop;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
    min-height: $bn-show-imagery-image-height-layout-desktop-wide;
  }
}


.show--imagery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.show--imagery--image {
  flex-grow: 0;
  flex-shrink: 0;

  height: $bn-show-imagery-image-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: $bn-show-imagery-image-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: $bn-show-imagery-image-height-layout-desktop;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
    height: $bn-show-imagery-image-height-layout-desktop-wide;
  }


  img {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    height: $bn-show-imagery-image-height-layout-mobile;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      height: $bn-show-imagery-image-height-layout-tablet;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      height: $bn-show-imagery-image-height-layout-desktop;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
      height: $bn-show-imagery-image-height-layout-desktop-wide;
    }
  }
}


.show--imagery--wash {
  flex-grow: 1;
  flex-shrink: 0;
}


.show--main-content-blocks {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > .content-block {
    flex-grow: 0;
    flex-shrink: 0;

    &.first {
      flex-basis: 100%;
      max-width: 100%;

      position: relative;
      height: $bn-show-content-negative-space-top-layout-mobile;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        height: $bn-show-content-negative-space-top-layout-tablet;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        height: $bn-show-content-negative-space-top-layout-desktop;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
        height: $bn-show-content-negative-space-top-layout-desktop-wide;
      }
    }

    &.second {
      flex-basis: 100%;
      max-width: 100%;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        flex-basis: 50%;
        max-width: 50%;
        padding-right: 2rem;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        flex-basis: 63.5%;
        max-width: 63.5%;
        padding-right: 4rem;
      }
    }

    &.third {
      flex-basis: 100%;
      max-width: 100%;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 2rem;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        flex-basis: 36.5%;
        max-width: 36.5%;
        padding-left: 4rem;
      }
    }
  }
}


.show--container {
  .show--title-image {
    position: absolute;
    bottom: 0;

    .show--title-image-container {
      display: inline-block;
      font-size: 0;

      img {
        display: block;
        width: 50%;
        height: 50%;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          width: 80%;
          height: 80%;
        }
        @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
          width: auto;
          height: auto;
        }
      }
    }
  }

  .show--performance-date-range {
    margin-bottom: 2.5rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-bottom: 3rem;
    }
  }

  .show--billing-credits {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--synopsis {
    display: none;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      display: block;
    }
  }

  .show--buy-tickets {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-top: 6rem;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-top: 6.6rem;
      margin-bottom: 2.5rem;
    }

    > .big-button {
      display: block;
    }
  }

  .show--ticket-price-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--performance-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--venue-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }

    span {
      &:not(:last-of-type) {
        display: block;
        float: left;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          float: none;
        }

        &::after {
          content: '/';
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
            content: none;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .show--synopsis-concise {
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      display: none;
    }
  }
}
