.home-page-slideshow-slide {
  > a {
    display: block;
    height: 100%;
    padding-bottom: 3.75rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      padding-bottom: 4.5rem;
    }
  }
}

.home-page-slideshow-slide--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page-slideshow-slide--heading-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.home-page-slideshow-slide--body-container {
  display: flex;
  flex-grow: 1;
}

.home-page-slideshow-slide--highlight-image-container {
  height: 11rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: 21.5rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: 26rem;
  }

  display: flex;
  align-items: center;

  flex-basis: 45%;
  padding-right: 0.75rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-right: 1.5rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    padding-right: 3rem;
  }

  .slide-highlight-image {
    width: 100%;
    height: 100%;
  }
}

.home-page-slideshow-slide--content-container {
  height: 11rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: 21.5rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: 26rem;
  }

  display: flex;
  align-items: center;

  flex-basis: 55%;
  padding-left: 0.75rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-left: 1.5rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    padding-left: 3rem;
  }
}
