.page-type--page {
  .column-container {
    &.has-primary-column {
      .primary {
        flex-basis: 100%;
        order: 1;
      }
    }

    &.has-primary-column.has-secondary-column {
      .primary {
        flex-basis: 100%;
        order: 2;
        @media (min-width: $bn-breakpoint-layout-desktop) {
          flex-basis: 63.5%;
          order: 1;
        }
      }

      .secondary {
        flex-basis: 100%;
        order: 1;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        @media (min-width: $bn-breakpoint-layout-tablet) {
          margin-bottom: 3rem;
          padding-bottom: 3rem;
        }
        @media (min-width: $bn-breakpoint-layout-desktop) {
          flex-basis: 36.5%;
          order: 2;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
