.home-page-slideshow-slide {
  height: 18rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: 31rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: 36rem;
  }
}

.home-page-slideshow-slide--container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page-slideshow-slide--body-container {
  display: flex;
}

.home-page-slideshow-slide--heading-container {
  padding-top: 1.5rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-top: 2rem;
  }
}

.home-page-slideshow-slide--highlight-image-container {
  flex-basis: 45%;
  padding-right: 0.75rem;
}

.home-page-slideshow-slide--content-container {
  flex-basis: 55%;
  padding-left: 0.75rem;
}

.home-page-slideshow-slide--highlight-image-container,
.home-page-slideshow-slide--content-container {
  display: flex;
  align-items: center;
}
