.page-type--show {
  .site--main--main-content {
    padding: 0;
  }
}


.show--container {
  position: relative;

  min-height: $bn-show-imagery-image-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    min-height: $bn-show-imagery-image-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    min-height: $bn-show-imagery-image-height-layout-desktop;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
    min-height: $bn-show-imagery-image-height-layout-desktop-wide;
  }
  padding-bottom: 2rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-bottom: 4rem;
  }
}


.show--imagery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.show--imagery--image {
  flex-grow: 0;
  flex-shrink: 0;

  height: $bn-show-imagery-image-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: $bn-show-imagery-image-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: $bn-show-imagery-image-height-layout-desktop;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
    height: $bn-show-imagery-image-height-layout-desktop-wide;
  }


  img {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    height: $bn-show-imagery-image-height-layout-mobile;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      height: $bn-show-imagery-image-height-layout-tablet;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      height: $bn-show-imagery-image-height-layout-desktop;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
      height: $bn-show-imagery-image-height-layout-desktop-wide;
    }
  }
}


.show--imagery--wash {
  flex-grow: 1;
  flex-shrink: 0;
}


.show--main-content-blocks {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > .content-block {
    flex-grow: 0;
    flex-shrink: 0;

    &.first {
      flex-basis: 100%;
      max-width: 100%;

      position: relative;
      height: $bn-show-content-negative-space-top-layout-mobile;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        height: $bn-show-content-negative-space-top-layout-tablet;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        height: $bn-show-content-negative-space-top-layout-desktop;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
        height: $bn-show-content-negative-space-top-layout-desktop-wide;
      }
    }

    &.second {
      flex-basis: 100%;
      max-width: 100%;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        flex-basis: 50%;
        max-width: 50%;
        padding-right: 2rem;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        flex-basis: 63.5%;
        max-width: 63.5%;
        padding-right: 4rem;
      }
    }

    &.third {
      flex-basis: 100%;
      max-width: 100%;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 2rem;
      }
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        flex-basis: 36.5%;
        max-width: 36.5%;
        padding-left: 4rem;
      }
    }
  }
}


.show--container {
  .show--title-image {
    position: absolute;
    bottom: 0;

    margin-left: -0.7rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-left: -1.2rem;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-left: -1.5rem;
    }    

    display: none;
    &.mobile {
      @media (max-width: $bn-breakpoint-width-max-layout-mobile) {
        display: block;
      }
    }
    &.tablet {
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) and (max-width: $bn-breakpoint-width-max-layout-tablet) {
        display: block;
      }
    }
    &.desktop {
      @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
        display: block;
      }
    }
  }

  .show--performance-date-range {
    margin-bottom: 2.5rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-bottom: 3rem;
    }
  }

  .show--billing-credits {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--synopsis {
    display: none;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      display: block;
    }
  }

  .show--buy-tickets {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-top: 6rem;
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-top: 6.6rem;
      margin-bottom: 2.5rem;
    }

    > .big-button {
      display: block;
    }
  }

  .show--ticket-price-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--performance-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      margin-bottom: 2.5rem;
    }
  }

  .show--venue-details {
    margin-bottom: 2rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      margin-bottom: 0;
    }

    span {
      &:not(:last-of-type) {
        display: block;
        float: left;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          float: none;
        }

        &::after {
          content: '/';
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
            content: none;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .show--synopsis-concise {
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      display: none;
    }
  }
}


.show--cast-creative-media {
  position: relative;
  margin-top: 2rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    margin-top: 2.5rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    margin-top: 4rem;
  }
}


.show--cast-creative-media--navigation {
  > ul {
    @include FlexFloat();
    justify-content: center;

    > li {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
        margin-left: 2.4rem;
        margin-right: 2.4rem;
      }

      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $bn-show-cast-creative-media-navigation-height-layout-mobile;
        @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
          height: $bn-show-cast-creative-media-navigation-height-layout-tablet;
        }
        @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
          height: $bn-show-cast-creative-media-navigation-height-layout-desktop;
        }
      }
    }
  }
}


.show--cast-creative-media--container {
  padding-top: $bn-site-gutter-width-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-top: $bn-site-gutter-width-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    padding-top: 4rem;
  }
}


.show--cast-creative {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  section {
    flex-basis: 100%;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      flex-basis: 50%;

    }

    @media (max-width: $bn-breakpoint-width-max-layout-mobile) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      &:nth-child(odd) {
        padding-right: ($bn-site-gutter-width-layout-tablet / 2);
      }
      &:nth-child(even) {
        padding-left: ($bn-site-gutter-width-layout-tablet / 2);
      }
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
      &:nth-child(odd) {
        padding-right: 2rem;
      }
      &:nth-child(even) {
        padding-left: 2rem;
      }
    }
    @media (min-width: $bn-breakpoint-width-min-layout-desktop-wide) {
      &:nth-child(odd) {
        padding-right: 4rem;
      }
      &:nth-child(even) {
        padding-left: 4rem;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;

      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
}
