.off-canvas {
  position: fixed;
  transition: left 0.3s,
    right 0.3s;

  &:not(.active) {
    overflow: hidden;
  }
}

.off-canvas-left {
  left: -100%;

  &.active {
    left: 0;
  }
}

.off-canvas-right {
  right: -100%;

  &.active {
    right: 0;
  }
}
