.off-canvas {
  position: fixed;
  transition: left $bn-transition-duration-sidebar-hide-show,
    right $bn-transition-duration-sidebar-hide-show;

  &:not(.active) {
    overflow: hidden;
  }
}

.off-canvas-left {
  left: -100%;

  &.active {
    left: 0;
  }
}

.off-canvas-right {
  right: -100%;

  &.active {
    right: 0;
  }
}
