#show--main-content-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 22rem;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    padding-top: 36rem;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    padding-top: 50rem;
  }

  > .content-block {
    &.first {
      flex-basis: 100%;
    }

    &.second {
      flex-basis: 100%;
      @media (min-width: $bn-breakpoint-layout-tablet) {
        flex-basis: 50%;
      }
      @media (min-width: $bn-breakpoint-layout-desktop) {
        flex-basis: 63.5%;
      }
    }

    &.third {
      flex-basis: 100%;
      @media (min-width: $bn-breakpoint-layout-tablet) {
        flex-basis: 50%;
      }
      @media (min-width: $bn-breakpoint-layout-desktop) {
        flex-basis: 36.5%;
      }
    }
  }
}


#show--container {
  .show--title-image {}

  .show--performance-date-range {
    margin-bottom: 2.5rem;
  }

  .show--billing-credits {
    margin-bottom: 1.5rem;
  }

  .show--synopsis {
    display: none;
    @media (min-width: $bn-breakpoint-layout-tablet) {
      display: block;
    }
  }

  .show--buy-tickets {
    margin-bottom: 1.5rem;
  }

  .show--ticket-price-details {
    margin-bottom: 1.5rem;
  }

  .show--performance-details {
    margin-bottom: 1.5rem;
  }

  .show--venue-details {
    margin-bottom: 1.5rem;
  }

  .show--synopsis-concise {
    @media (min-width: $bn-breakpoint-layout-tablet) {
      display: none;
    }
  }
}
