.page-title-ribbon {
  height: $bn-page-title-ribbon-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: $bn-page-title-ribbon-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: $bn-page-title-ribbon-height-layout-desktop;
  }

  display: flex;
}


.page-title-ribbon--content {
  align-self: flex-end;
  width: 100%;

  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: $bn-site-gutter-width-layout-mobile;
  padding-right: $bn-site-gutter-width-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-left: $bn-site-gutter-width-layout-tablet;
    padding-right: $bn-site-gutter-width-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    padding-left: $bn-site-gutter-width-layout-desktop;
    padding-right: $bn-site-gutter-width-layout-desktop;
  }
}
