.site--main--main-content-container {
  min-height: 100vh;

  padding-top: $bn-header-height-layout-mobile;
  padding-bottom: $bn-footer-height-layout-mobile;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    padding-top: $bn-header-height-layout-tablet;
    padding-bottom: $bn-footer-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    padding-top: $bn-header-height-layout-desktop;
    padding-bottom: $bn-footer-height-layout-desktop;
  }
}


.site--main--main-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: $bn-site-gutter-width-layout-mobile;
  padding-right: $bn-site-gutter-width-layout-mobile;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: $bn-site-gutter-width-layout-tablet;
    padding-right: $bn-site-gutter-width-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    padding-left: $bn-site-gutter-width-layout-desktop;
    padding-right: $bn-site-gutter-width-layout-desktop;
  }
}
