.site--main--secondary-navigation-container {
  position: absolute;
  top: $bn-header-height-layout-mobile;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    top: $bn-header-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    top: $bn-header-height-layout-desktop;
  }
  left: 0;
  width: 100%;
  z-index: $bn-layer-secondary-navigation;
}


.navigation--secondary-navigation-main {
  padding-left: $bn-header-gutter-left-layout-mobile;
  padding-right: $bn-header-gutter-right-layout-mobile;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    padding-left: $bn-header-gutter-left-layout-tablet;
    padding-right: $bn-header-gutter-right-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    padding-left: $bn-header-gutter-left-layout-desktop;
    padding-right: $bn-header-gutter-right-layout-desktop;
  }

  > ul {
    @include FlexFloat();
    justify-content: center;

    > li {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      @media (min-width: $bn-breakpoint-layout-tablet) {
        margin-left: 2.4rem;
        margin-right: 2.4rem;
      }

      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $bn-site-main-secondary-navigation-height-layout-mobile;
        @media (min-width: $bn-breakpoint-layout-tablet) {
          height: $bn-site-main-secondary-navigation-height-layout-tablet;
        }
        @media (min-width: $bn-breakpoint-layout-desktop) {
          height: $bn-site-main-secondary-navigation-height-layout-desktop
        }
      }
    }
  }
}
