.site--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bn-footer-height-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    height: $bn-footer-height-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    height: $bn-footer-height-layout-desktop;
  }
}


.site--footer--container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    justify-content: flex-end;
  }

  padding-top: $bn-footer-gutter-top-layout-mobile;
  padding-bottom: $bn-footer-gutter-bottom-layout-mobile;
  padding-left: $bn-footer-gutter-left-layout-mobile;
  padding-right: $bn-footer-gutter-right-layout-mobile;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    padding-top: $bn-footer-gutter-top-layout-tablet;
    padding-bottom: $bn-footer-gutter-bottom-layout-tablet;
    padding-left: $bn-footer-gutter-left-layout-tablet;
    padding-right: $bn-footer-gutter-right-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    padding-top: $bn-footer-gutter-top-layout-desktop;
    padding-bottom: $bn-footer-gutter-bottom-layout-desktop;
    padding-left: $bn-footer-gutter-left-layout-desktop;
    padding-right: $bn-footer-gutter-right-layout-desktop;
  }
}


.site--footer--main-navigation-container {
  order: 1;

  display: none;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    display: block;
  }

  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    position: absolute;
    top: $bn-footer-gutter-top-layout-desktop;
    left: $bn-footer-gutter-left-layout-desktop;
  }
}


.site--footer--social-media-navigation-container {
  order: 5;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    order: 2;
  }

  margin-bottom: 2rem;
}


.site--footer--contact {
  order: 2;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    order: 3;
  }

  margin-bottom: 1.7rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    margin-bottom: 0;
  }

  .site--footer--contact--name {
    margin-bottom: 1.7rem;
  }
}


.site--footer--closure {
  order: 3;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    order: 4;
  }

  margin-bottom: 1.7rem;
}


.site--footer--copyright {
  order: 4;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    order: 5;
  }

  margin-bottom: 1.7rem;
  @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
    margin-bottom: 4rem;
  }
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    margin-bottom: 0;
  }
}


.site--footer--mailing-list-subscription-form-container {
  order: 6;
  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    order: 0;
  }

  @media (min-width: $bn-breakpoint-width-min-layout-desktop) {
    position: absolute;
    bottom: $bn-footer-gutter-bottom-layout-desktop;
    right: $bn-footer-gutter-right-layout-desktop;
    width: 30rem;
  }

  .heading {
    margin-bottom: 1.5rem;
  }
}


.navigation--main-navigation-footer {
  > ul {
    @include FlexFloat();

    > li {
      margin-left: 3rem;
      margin-right: 3rem;

      > ul {
        margin-top: 1.25rem;

        > li {
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;

          &:first-of-type {
            margin-top: 0;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }  
}


.navigation--social-media-navigation-footer {
  > ul {
    @include FlexFloat();

    > li {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .social-media-link {
    width: 3.4rem;
    height: 3.4rem;
    @media (min-width: $bn-breakpoint-width-min-layout-tablet) {
      width: 3.6rem;
      height: 3.6rem;
    }
  }
}
