@mixin IconButton {
  /* @CMN TODO - Should I just remove this? Make it a parameter variable? Remove from variables.scss? */
  //background-color: $bn-color-icon-button-background;
  /* @CMN END TODO */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.175) 100%);
  border-radius: 100%;
  display: block;
  position: relative;
  transition: transform $bn-transition-duration-default;
  /* @CMN TODO -webkit-backface-visibility: hidden; */

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &::before {
    content: '';
    position: absolute;
    width: 83.3334%;
    height: 91.6667%;
    top: 8.3334%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
  }

  .icon {
    position: absolute;
    top: 3.25%;
    left: 3.25%;
    width: 93.5%;
    height: 93.5%;
    background-color: inherit;
    border-radius: 100%;

    > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 64%;
      height: 64%;

      g {
        fill: $bn-color-icon-button-image;
      }
    }
  }

  .label {
    display: none;
  }
}


.icon-button {
  @include IconButton();
}
