@mixin SiteGutter {
  padding-left: $bn-site-gutter-width-layout-mobile;
  padding-right: $bn-site-gutter-width-layout-mobile;
  @media (min-width: $bn-breakpoint-layout-tablet) {
    padding-left: $bn-site-gutter-width-layout-tablet;
    padding-right: $bn-site-gutter-width-layout-tablet;
  }
  @media (min-width: $bn-breakpoint-layout-desktop) {
    padding-left: $bn-site-gutter-width-layout-desktop;
    padding-right: $bn-site-gutter-width-layout-desktop;
  }
}


@mixin SiteWidthConstraint {
  margin-left: auto;
  margin-right: auto;
  max-width: $bn-page-content-max-width-layout-desktop;
  @media (min-width: $bn-breakpoint-layout-desktop-wide) {
    max-width: $bn-page-content-max-width-layout-desktop-wide;
  }
}
