<nav role="navigation" aria-label="Social Media Navigation" id="navigation--social-media-navigation-footer" class="navigation--social-media-navigation-footer">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
