<nav role="navigation" aria-label="Main Navigation" id="navigation--main-navigation-header" class="navigation--main-navigation-header">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
