<nav role="navigation" aria-label="Main Navigation" id="navigation--main-navigation-sidebar" class="navigation--main-navigation-sidebar">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
