<div id="site--main--main-content" class="site--main--main-content site-width-constraint">
  <div class="column-container has-primary-column has-secondary-column">
    <div class="column primary">{{ content }}</div>
    <div class="column secondary"></div>
  </div>
</div>
