<nav role="navigation" aria-label="Social Media Navigation" id="navigation--social-media-navigation-sidebar" class="navigation--social-media-navigation-sidebar">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
