{% for item in items %}
<div class="article-source">
  <span class="icon">
    <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g transform="translate(-250.000000, -1018.000000)">
    <g transform="translate(0.000000, 160.000000)" fill="#606873" fill-rule="nonzero">
    <g transform="translate(250.000000, 754.000000)">
    <path d="M5.45338328,107.495919 L6.02337092,108.122811 L4.89190126,109.243878 L3.47309755,109.243878 C2.51402815,109.243878 1.73654878,110.026466 1.73654878,110.991837 L1.73654878,117.504081 C1.73654878,118.469453 2.51402815,119.252041 3.47309755,119.252041 L9.99999419,119.252041 C10.9590636,119.252041 11.736543,118.469453 11.736543,117.504081 L11.736543,116.206749 L12.8881653,115.065715 L13.4730917,115.60495 L13.4730917,117.504081 C13.4730917,119.434824 11.918133,121 9.99999419,121 L3.47309755,121 C1.55495874,121 2.57060858e-16,119.434824 0,117.504081 L0,110.991837 C-2.57060858e-16,109.061095 1.55495874,107.495919 3.47309755,107.495919 L5.45338328,107.495919 Z M6.0569607,104.213522 C6.19544874,104.074124 6.38449589,104 6.60541727,104 L15.9951256,104.212416 C16.2017586,104.216841 16.4017968,104.299816 16.5523751,104.451384 C16.7018542,104.602952 16.7842876,104.804304 16.788684,105.012295 L16.9997134,114.462595 C17.005209,114.672799 16.9315685,114.870832 16.7875849,115.014656 C16.4930231,115.311153 15.9918283,115.30009 15.682978,114.98921 L13.1418325,112.431367 L8.20428938,117.401354 C7.90862842,117.697851 7.40963187,117.686788 7.09968246,117.375908 L3.71222125,113.966189 C3.40337096,113.654203 3.39237985,113.149715 3.68694169,112.853217 L8.62448484,107.88323 L6.08224027,105.324281 C5.77338997,105.014508 5.76129975,104.511126 6.0569607,104.213522 Z"></path>
    </g>
    </g>
    </g>
    </svg>
  </span>
  <span class="content">{{ item.content }}</span>
</div>
{% endfor %}