{% block paragraph %}
  <div class="content-block content-block--heading-content">
    {% block content %}
      {{ content.field_anchor_id }}
      <div class="heading">{{ content.field_heading }}</div>
      <div class="content">{{ content.field_content }}</div>
    {% endblock %}
  </div>
{% endblock paragraph %}
