{% block paragraph %}
  <div class="content-block call-out content-block--content">
    {% block content %}
      {{ content.field_anchor_id }}
      <div class="content">{{ content.field_content }}</div>
    {% endblock %}
  </div>
{% endblock paragraph %}
