{% block paragraph %}
  <div class="content-block content-block--content">
    {% block content %}
      <div class="content">{{ content.field_content }}</div>
    {% endblock %}
  </div>
{% endblock paragraph %}
