<div id="site--footer--container" class="site--footer--container site-width-constraint">
  <div id="site--footer--main-navigation-container" class="site--footer--main-navigation-container">
    {{ drupal_entity('block', 'main_navigation_footer') }}
  </div>
  <div id="site--footer--social-media-navigation-container" class="site--footer--social-media-navigation-container">
    {{ drupal_entity('block', 'social_media_navigation_footer') }}
  </div>
  <div id="site--footer--contact" class="site--footer--contact">
    <div id="site--footer--contact--name" class="site--footer--contact--name">Big Noise Theatre</div>
    <div id="site--footer--contact--phone" class="site--footer--contact--phone">847.604.0275</div>
    <div id="site--footer--contact--address" class="site--footer--contact--address">
      <div>P.O. Box 1652</div>
      <div>Des Plaines, IL 60017</div>
    </div>
  </div>
  <div id="site--footer--closure" class="site--footer--closure">Big Noise Theatre is a 501(c)3 organization.</div>
  <div id="site--footer--copyright" class="site--footer--copyright">
    <div>&copy; 2017 Big Noise Theatre.</div>
    <div>All Rights Reserved.</div>
  </div>
  <div id="site--footer--mailing-list-subscription-form-container" class="site--footer--mailing-list-subscription-form-container">
    {{ drupal_entity('block', 'mailing_list_subscription_form_footer') }}
  </div>
</div>
